/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style de la photo principale comme une bannière */
.main-photo {
    width: 100%;
    height: 400px; /* Ajuste cette valeur pour la hauteur de la bannière */
    overflow: hidden;
    position: relative;
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cette propriété permet de couvrir toute la surface sans déformation */
}

/* Galerie de photos */
.photo-gallery {
    text-align: center;
    padding: 20px;
}

.photo-gallery h2 {
    margin: 20px 0 10px;
}

.photo-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.photo-row img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.see-more {
    text-decoration: none;
    color: blue;
    display: block;
    margin-top: 20px;
    text-align: right;
}

/* Pied de page */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
